@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  scroll-behavior: smooth;
  
 
  
}
body{
  box-sizing: border-box;
  
  width: 850px;
  min-height: 100vh;
  background-color:#E5E5E5;  
  display: grid;
  border: 1px solid orange;

  grid-template-areas: 
  "header header header header"
  "main main main main"
  "footer footer footer footer";
  
 
}
:root{
  --first-color:conic-gradient(from 179.27deg at 48.3% -10.58%, #E5E5E5 -146.25deg, rgba(164, 176, 109, 0.62) 63.75deg, #B5BA9E 142.5deg, #E5E5E5 213.75deg, rgba(164, 176, 109, 0.62) 423.75deg);
  --second-color: conic-gradient(from 9.48deg at 74.03% 112.2%, rgba(222, 119, 75, 0.764901) -42.74deg, #E75F25 28.66deg, rgba(235, 129, 84, 0) 201.35deg, rgba(222, 119, 75, 0.764901) 317.26deg, #E75F25 388.66deg);
  --third-color: conic-gradient(from 90deg at -12.99% 50%, #E78E25 -1.37deg, rgba(222, 119, 75, 0.764901) 4.91deg, rgba(235, 129, 84, 0) 201.35deg, rgba(223, 119, 75, 0.751558) 353.64deg, #E78E25 358.63deg, rgba(222, 119, 75, 0.764901) 364.91deg);

}

.main{
  display: grid;
  height: 100%;
  grid-area:main;
  grid-template-areas: 
  "contain contain logo contain1"
  "contain contain logo contain1";
  gap:20px;
  
  

}
.container{
  grid-area:contain;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  /*background: var(--first-color); */

  margin-bottom: 20px;
  margin-left: 15px;
  position: relative;
  
 
}
.container2{
  grid-area:contain1;
  
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  margin-bottom: 20px;
  
  
}
.avatar{
  position: absolute;
  top:-70px;
  left: 40px;
  width: 148px;
  height: 156px;
  background-image:url(assets/avater2.JPG);
  transform: scale(-1,1);
  background-size: cover;
  
  z-index: 10;
   
  
}
.avatar2{
  position: absolute;
  top:-89px;
  left: 21px;
  width: 148px;
  height: 156px;
  width: 158px;
  height: 166px;
  border: 2px solid rgba(223, 119, 75);
  z-index: 11;
}
.nav-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index:10;
  margin-right: 20px;
  
}
.nav-item{
  letter-spacing: 1.2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  
}

header{
  grid-area: header;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  border-bottom:2px solid #E75F25;
 
}
.footer {
  width: 850px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top:2px solid #E75F25 ;
  grid-area:footer;
 
}

.first{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: #161414;
  text-transform: uppercase;
  background:var(--third-color); 
  
  margin-left: 10%;
  margin-bottom: 20px;

}
.second{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 12.19px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 20px;
  width: 80%;
  height: 24px;
  background:var(--third-color); 
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  padding: 2px 10px;
  margin-top: 5px;
  position: relative;
  z-index: 10;

}
.second::before{ 
  position:relative;
  content: "\002E";
  color: black;
 
  right: 10px;
  top:-2px;
}
.second::after{
  position:relative;
  content: "\002E";
  color: black;
  left: 10px;
  top:-2px;
}

.year{ font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

}

h1{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.08em;
text-align: center;
text-transform: uppercase;
margin-top: 100px;
margin-bottom: 20px;
}
.name{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style:normal;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.08em;
text-align: center;
}
.surname{font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style:normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-align: center;
 

}
.contact, .languages,.projects, .languages, .skills,.me{
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 8px;
  transition: 0.5s;
}
span{
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#intro{
  text-align: center;
  
}
.icon{
  padding-top: 10px;
  padding-right: 10px;
}

li{
  list-style: none;
}
.section{
  margin-right: 20px;
  /*border-top: 1px solid #424242;*/
  padding-bottom: 20px;
  gap:10px;
  padding: 10px;
  transition: 0.5s;
}

 a:link, .projects a, .section a{
   display: inline-block;
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color:rgba(223, 119, 75);
  
}
a:hover{
  color:rgba(223, 119, 75);
  cursor:pointer;
  transform: scaleX(1.2);
  transition: 0.5s
}


p{
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;

}

code{
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.marker1{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content:space-between; 



}
.list{
  display: flex;
  flex-direction: column;
}
.list2{display: flex;
  flex-direction: column;
justify-content: space-between;}

.nav-item a{
  text-transform: uppercase;
  color:#161414;
 
  
 
}
.nav-item a:hover{
  color: rgba(223, 119, 75); 
  
}


.active{
 background:#E5E5E5;
 border: 2px solid #E75F25;
 transition: 0.5s;
transform: scale(1.1);

}

.shadow{
  position: relative;
  top:2px;
  left:-15px;
}
.picture{
  gap: 10px;
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 margin-top: 20px;
}
.border{
  position: relative;
  left:20px;
  top:-60px;
  height: 25px;
  width: 390px;
  border: 1px solid black;
  z-index: 9;
}